html,
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: linear-gradient(135deg, #ecea98 25%, transparent 25%),
    linear-gradient(225deg, #ecea98 25%, transparent 25%),
    linear-gradient(45deg, #ecea98 25%, transparent 25%),
    linear-gradient(315deg, #ecea98 25%, #e5e5f7 25%);
  background-position: 28px 0, 28px 0, 0 0, 0 0;
  background-size: 56px 56px;
  background-repeat: repeat;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}
