@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Itim', sans-serif;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-image: url('./assets/rickandmortybg.png');
}
.App {
  text-align: center;
}
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header h2 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(36, 199, 199);
}
.logo {
  transform: scale(0.7);
}
.scoreContainer .currentScore,
.scoreContainer .highScore {
  margin-right: 10px;
  background-color: tomato;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: 700;
}
.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 7px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}
.board > li > img {
  height: 100px;
  width: 100px;
}
.cards {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  background: linear-gradient(
    65deg,
    rgba(237, 234, 238, 0.6),
    rgba(52, 52, 53, 0.7)
  );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  width: 110px;
  padding: 5px;
}
.cards:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 3px 0 yellow, 3px 3px 3px 0 gold;
}
.gameover {
  margin: 150px auto;
  color: #ffffff;
}
.gameover button {
  cursor: pointer;
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 200;
  font-size: 15px;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.gameover button:hover {
  color: #404040 !important;
  font-weight: 500 !important;
  letter-spacing: 2px;
  background: #dbdbdb;
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 732px) {
  body {
    height: 100%;
    width: 100%;
    font-size: 13px;
    background-size: 100% 100%;
  }
  .top-nav {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
  }
  .logo {
    transform: scale(0.5);
  }
  header {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: -5px;
  }
  .board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .cards {
    width: 70px;
    height: 70px;
    font-size: 10px;
  }
  .board > li > img {
    height: 60px;
    width: 60px;
  }
}
